<mat-card>
    <img mat-card-image [src]="currentPlace.img">
    <mat-card-content>
      <mat-tab-group>
        <mat-tab *ngFor="let tab of places | placeTabs" [label]="tab">
          <div class="tab-content">
            <div class="place" *ngFor="let place of places | filterPlaces:tab">
              <div class="info">
                  {{ place.address }} <br>
                  {{ place.phone | phone }}
              </div>
              <button
                mat-raised-button color="primary"
                (click)="setCurrentPlace(place)"
              >Select</button>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
