:host {
  display: flex;
  justify-content: stretch;
  align-self: stretch;
  padding: 30px;
  width: 100%;
}

.card {
  width: 100%;
}

.content {
  text-align: center;
}

mat-card {
  align-self: stretch;
  flex-grow: 1;
}
