:host {
  background: #334;
  display: block;
}

.container {
  max-width: 1600px;
  min-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


mat-grid-list {
  height: 100vh;
}

.mat-grid-tile .mat-figure {
  align-items: flex-start;
}
